:root {
  /*Refenciando raiz do documento*/
  --title-color: #322153;
  --primary-color: #34cb79;
}

/*Zerando padrões do doc*/
* {
  margin: 0;
  padding: 0;
   /*Borda será o máximo da largura - Padding não irá aumentar a caixa*/
  box-sizing: border-box; 
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: 'Poppins', sans-serif;
}

/* BOX MODEL 

Modelo de caixa
Toda caixa tem
Largura, altura, espaçamento, preenchimento, 
boras, cor, fundo, maneira que é vista pelo html (diplay)
Alinhamento, posicionamento
*/



