#page-login {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

#page-login header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

#page-login header a {
  color: var(--title-color);
  font-weight: bold;
  display: flex;
  align-items: center;
}

#page-login header a span {
  background-image: url(../assets/arrow-left.svg);
  width: 20px;
  height: 24px;
  display: flex;
  margin-right: 16px;
}

form {
  background: white;
  padding: 64px;
  border-radius: 8px;
  max-width: 530px;
  margin: 80px auto;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);

}

form h1 {
  font-size: 36px;
}

form h4 {
  color: #8E8E8E;
  font-size: 22px;
}

form fieldset {
  margin-top: 54px;
  border: 0;
}


form legend {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

form .field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

form input {
  background: #F0F0F5;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 8px;
}

form input[type="checkbox"] {
  cursor: pointer;
}


form label {
  font-size: 16px;
  margin-bottom: 8px;
}

form .botao-acessar {
  text-align: center;
}

form button {
  text-align: center;
  width: 260px;
  height: 56px;
  background-color: var(--primary-color);
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  margin-top: 40px;
  transition: background-color 400ms;
  cursor: pointer;
}

form button:hover {
  background-color: #2FB86E;
}