#page-register {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

#page-register header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

#page-register header a {
  color: var(--title-color);
  font-weight: bold;
  display: flex;
  align-items: center;
}

#page-register header a span {
  background-image: url(../assets/arrow-left.svg);
  width: 20px;
  height: 24px;
  display: flex;
  margin-right: 16px;
}

form {
  background: white;
  padding: 64px;
  border-radius: 8px;
  max-width: 730px;
  margin: 80px auto;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

form h1 {
  font-size: 36px;
}

form h5 {
  color: #8e8e8e;
  font-size: 22px;
}

form fieldset {
  margin-top: 34px;
  border: 0;
}

form legend {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

form .field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

form .field span {
  font-size: 14px;
  justify-content: space-between;
}

form .field-group {
  display: flex;
}

form .field-group .field + .field {
  margin-left: 24px;
}

form label {
  font-size: 14px;
  margin-bottom: 8px;
}

form input {
  background: #F0F0F5;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 8px;
}

.lineForm {
  width: 100%;
  border: 2px solid #F0F0F5;
  margin-bottom: 35px;

}

.genero {
  width: 289px;
  margin-bottom: 15px;
  background: #F0F0F5;
  border: 0;
  padding: 16px;
  border-radius: 8px;
}

.field p {
  margin-bottom: 8px;
}

.radio {
  margin-right: 15px;
}

.checkbox-whatsApp {
  margin-top: 15px;
}

.checkbox-termos {
  display: flex;
  margin-top: 20px;
  width: 290px;
}

.checkbox-whatsApp input[type="checkbox"],
.checkbox-termos input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-termos a{
  text-decoration: none;
  margin-left: 5px;
  color: var(--primary-color);
}

form button {
  width: 260px;
  height: 56px;
  background-color: var(--primary-color);
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  margin-top: 10px;
  transition: backgrond-color 400ms;
}

form button:hover {
  background-color: #2fb86e;
}