/*Regras para responsavidade*/

@media (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home header a {
    position: absolute;
    bottom: 18px;

    /*Realizando alinhamento*/
    left: 50%;
    transform: translateX(-50%);
  }

  #page-home main {
    align-items: center;
  }

  #page-home main h1 {
    font-size: 46px;
  }

  #page-home main p {
    font-size: 20px;
  }

  #page-home main a {
    height: 62px;
  }

  #page-home main a span {
    width: 62px;
    height: 62px;
  }

  #modal .content {
    width: 320px;
  }

  #modal form button {
    width: 62px;
    height: 62px;
  }

  #page-search-results .cards {
    grid-template-columns: 1fr;
  }

  #page-search-results .cards img {
    height: 200px;
  }

  #page-create-point .field-group {
    flex-direction: column;
  }

  #page-create-point .field-group .field + .field {
    margin-left: 0;
  }
}

/*De 1700px pra cima aplicar essas regras*/
@media (min-width: 1700px) {
  #page-home {
    background-position-x: 40vw;
  }
}

/*Altura máxima permitida
Quando chegar em 760px a imagem irá ficar fixada
*/
@media (max-height: 760px) {
  #page-home {
    background-position-y: 200px;
  }
}

/*
Sugestão: Limitar imagem para não ficar mexendo conforme crescimento
*/