/*Criação de um pseudo elemento no body*/
body::after {
  content: '';
  position: fixed;
  background: white;
  /*Esticando o fixed na página inteira*/
  top: 260px;
  right: 0;
  left: 0;
  bottom: 0;
  /*Colocando para ficar por baixo do body*/
  z-index: -1;
}

#page-search-results {
  width: 90%;
  max-width: 1100px; /*Limitando largura da caixa*/
  /*Alinhamento de caixa (pelo lado de fora da caixa)*/
  margin: 0 auto; /*Em cima e baixo sendo 0 e aos lados preenchidos automático*/
}

#page-search-results header {
  display: flex;
  justify-content: space-between; /*Espaçamento entre elemtnos, cada um no canto*/
  align-items: center; /*Alinhando*/
  margin-top: 48px;
}

#page-search-results header a {
  color: var(--title-color); /*Referenciando cor que está no main.css*/
  font-weight: bold;
  display: flex;
  align-items: center;
}

#page-search-results header a span {
  background-image: url(../assets/arrow-left.svg);
  width: 20px;
  height: 24px;
  display: flex;
  margin-right: 16px;
}

main {
  margin: 48px;
}

main h4 {
  font-weight: normal;
  font-family: Roboto, sans-serif;
  margin-bottom: 32px;
}

main .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

}

main .card img {
  width: 100%;
  height: 150px;
  /*Preenchendo espaço com a imagem*/
  object-fit: cover;
  border-radius: 8px 8px 0 0;

}

main .card h1 {
  font-size: 36px;
  line-height: 41px;
  color: #322153;
  margin-top: 32px;
}

main .card h3 {
  margin: 24px 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: var(--primary-color);
}

main .card p {
  font-size: 16px;
  line-height: 26px;
  color: #6C6C80;
}